body {
    background-color: #cf2e78;
    font-size: 16.5pt;
}

.outer-container {
    background-color: white;
    width: 65%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
}

.inner-container {
    padding: 40px;
    font-family: 'Roboto', sans-serif;
}

.overflow {
    display: block;
    margin-left: -1px;
    margin-right: -1px;
}


.navbar-top {
    background-color: #cf2e78;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16.5pt;
}

.navbar-top-mobile {
    background-color: white;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16.5pt;
}

.menu-items {
    color: white;
}

.menu-items:hover {
    color: white;
    background-color: #9d1f60;
    text-decoration: none;
}

.menu-items-mobile {
    display: block;
    padding: 5px;
    text-align: center !important;
    color: white;
    background-color: #cf2e78;
}

.menu-items-mobile:hover {
    color: white;
    background-color: #9d1f60;
    text-decoration: none;
}


.menu-items1 {
    padding-top: 44px;
}

.menu-items2 {
    padding-top: 31px;
}

.menu-items3 {
    padding-top: 13px;
}

.menu-active {
    background-color: #8c1f52;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 80%;
    display: inline-block
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

.textlink:link, .textlink:visited {
    color: #8c1f52;
}

.textlink:hover, .textlink:active {
    color: #8c1f52;
}

.imprint:link, .imprint:visited {
    color: #cf2e78;
    font-weight: bold;
}

.imprint:hover, .imprint:active {
    color: #8c1f52;
    font-weight: bold;
}

.imprint-size {
    font-size: 10pt;
}

.footer {
    color: #a9a9a9;
    font-size: smaller;
    font-weight: lighter;
}

.form-label-extra {
    margin-left: 3px;
    color: black;
    font-size: 9.5pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    display: inline;
}


.form-label-extra-mobile {
    color: #000000;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    display: inline;
}

.form-label-div {
    width: 10pt;
    display: inline-block;
    height: 30pt;
}

.form-label {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    width: 100%;
}

.nobr {
    white-space: nowrap
}

.form-input {
    width: 100%;
    margin-top: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    background-color: #e6e6e6;
    border: none;

    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.form-textarea {
    height: 60pt;
    min-height: 55pt;
    max-height: 420pt;
}

.form-input::-webkit-input-placeholder {
    color: #b3b3b3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.form-input:-moz-placeholder { /* Firefox 18- */
    color: #b3b3b3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.form-input::-moz-placeholder { /* Firefox 19+ */
    color: #b3b3b3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.form-input:-ms-input-placeholder {
    color: #b3b3b3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.form-input::placeholder {
    color: #b3b3b3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

.formdate {
    display: block;
    border: none;
    border-radius: 5px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.submit-button {
    width: 100%;
    padding: 4px;
    font-size: 30px;
    background-color: #cf2e78;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-weight: lighter;
    font-family: 'Roboto Slab', sans-serif;
}

.examplepic {
    padding-left: 20px;
    padding-right: 20px;
}

.exampletext {
    font-size: 13px;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
}

.calendar .calendar-header {
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: 0;
}

.calendar .calendar-header .year-title {
    font-size: 18px;
}

.calendar .calendar-header .year-title:not(.year-neighbor):not(.year-neighbor2) {
    border-bottom: 2px solid #f5f5f5;
}

.calendar .months-container .month-container {
    height: 260px;
    margin-bottom: 25px;
}

.calendar table.month {
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
}

.calendar table.month th.month-title {
    background-color: #f5f5f5;
    color: #CE2E77;
    padding: 12px;
    font-weight: 400;
}

.calendar table.month th.day-header {
    padding-top: 10px;
    color: #CDCDCD;
    font-weight: 400;
    font-size: 12px;
}

.calendar table.month td.day .day-content {
    padding: 8px;
    border-radius: 100%;
}

.calendar-header, .day-header {
    visibility: hidden;
    display: none;
}

.event-tooltip-content {
    padding: 5px;
}

.event-tooltip-content:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.card-header {
    margin: 10px 25px 20px;
    padding: 15px;
    background-color: #f5f5f5;
}

.cal-green {
    color: #47cfad;
    font-size: 42pt;
}

.cal-yellow {
    color: #ffed5e;
    font-size: 42pt;
}

.cal-red {
    color: #ff007a;
    font-size: 42pt;
}

.events-type {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 200;
}