.approved {
    background-color: lightgreen;
}

.denied {
    background-color: lightcoral;
}

.pending {
    background-color: lightgray;
}
.chosen  {
    background-color: gold;
}

div.row {
    border: 1px solid;
    border-bottom: 0;
}
.container div.row:last-child {
    border-bottom: 1px solid;
}