body {
    background-color: #f45b69;
}

.content {
    position: relative;
    width: 77%;
    margin: 10vh auto;
    background: #fff;
    border-radius: 8px;
}

.content-body {
    padding: 100px 25px;
}

.form{ width: 100%; height: 100%; }

h1, h2, .text, label{
    display: block;
}

a {
    color: #f45b69;
    white-space: pre-line;
}

label {
    color: #606060;
    font-weight: bold;
    font-size: 20px;
    margin: 20px auto;
}

.gentext{
     color: #606060;
     font-weight: bold;
     font-size: 20px;
 }


.button{
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    white-space: normal;
    border: 1px #17191B;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #f45b69;
}
.button-choose {
    color: white;
    text-transform: uppercase;
    white-space: normal;
    border: 1px #17191B;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #f45b69;
}

textarea{
    resize: none;
    overflow:hidden;
    height: auto;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

.date {
    display: block;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.text1 {
    width: 75%;
}

.text2 {
    width: 90%;
}
.text, .source{
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 30px;
}

.source {
    margin-bottom: 0;
}

.examplepic {
    height: 10px;
    width: 150px;
}

.floaty {
    float: right;
}

h3{  font-size: 15px}

.button:hover{ background-color: #f45b69; }

@media only screen and (min-width : 280px) {
    .content{ width: 95%; height: 95%}
    .examplepic {height: 110%; margin-bottom: 20px; width: 100%}
    .floaty {float:left}
}

@media only screen and (min-width : 480px) {
    .content{ width: 93%;  height: 95% }
    .examplepic {height: 110%; margin-bottom: 20px; width: 100%}
    .floaty {float:left}
}

@media only screen and (min-width : 768px) {
    .content{ width: 85%; height: 95% }
    .examplepic {height: 10px; margin-bottom: 0px; width: 150px}
    .floaty {float:left}
}

@media only screen and (min-width : 992px) {
    .content{ width: 80%;  height: 95%}
    .examplepic {height: 10px; margin-bottom: 0px; width: 150px}
    .floaty {float:right}
}
