*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2', cursive;
}

body{ background-color: #f45b69; }

.content{
    position: relative;
    width: 30%;
    height: 90%;
    padding: 10px 25px;
    margin: 10vh auto;
    background: #fff;
    border-radius: 8px;
}

.form{ width: 100%; height: 100%; }

h1, h2, .text, label{
    display: block;
}

a {
    color: #f45b69;
    font-size: 15px;
    white-space: pre-line;
}

h1, label{
    color: #606060;
    font-weight: bold;
    font-size: 25px;
    margin: 30px auto;
}
.button{
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    white-space: normal;
    border: 1px #17191B;
    padding: 10px 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #f45b69;
}

textarea{
    resize: none;
    overflow:hidden;
    height: auto;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

.date {
    display: block;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.text, .source{
    width: 90%;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 30px;
}

.source {
    margin-bottom: 0;
}

h3{  font-size: 15px}

.button:hover{ background-color: #f45b69; }

@media only screen and (min-width : 280px) {
    .content{ width: 95%; height: 95%}
}

@media only screen and (min-width : 480px) {
    .content{ width: 90%;  height: 95% }
}

@media only screen and (min-width : 768px) {
    .content{ width: 80%; height: 95% }
}

@media only screen and (min-width : 992px) {
    .content{ width: 70%;  height: 95%}
}
