<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/general.css">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    {% if recaptcha %}
        <script src="https://www.google.com/recaptcha/api.js?render=6Le1yuEUAAAAAP-gpOEBLyGCBLRUsUJWjmC2x6TP"></script>
        <script>
            grecaptcha.ready(function () {
                grecaptcha.execute('6Le1yuEUAAAAAP-gpOEBLyGCBLRUsUJWjmC2x6TP', {action: 'submit_hist'}).then(function (token) {
                    document.getElementById("g-recaptcha-response").value = token;
                });
            });
            if ( $('[type="date"]').prop('type') != 'date' ) {
                $('[type="date"]').datepicker();
            }
        </script>
    {% endif %}

    <title>Der Kalender des Scheiterns</title>
</head>
<body>

<div class="container outer-container" style="background-color: white; height: 100%">
    <img src="/static/header.svg" alt="Header" style="width: 101%; text-align: center" class="overflow">
    <div style="height: 30px"></div>
    <div class="container-fluid navbar-top">
        <div class="row">
            <a href="/info" class="col menu-items menu-items1{% if template == 'info' %} menu-active{% endif %}">
                <p>INFO</p>
            </a>
            <a href="/submit_historic" class="col menu-items menu-items3{% if template == 'submit_hist' %} menu-active{% endif %}">
                <p>HISTORISCHES<br>EREIGNIS<br>EINREICHEN</p>
            </a>
            <a href="/submit_personal" class="col menu-items menu-items3{% if template == 'submit_pers' %} menu-active{% endif %}">
                <p>PERSÖNLICHES<br>EREIGNIS<br>EINREICHEN</p>
            </a>
            <a href="/status" class="col menu-items menu-items2{% if template == 'status' %} menu-active{% endif %}">
                <p>STATUS-<br>ÜBERSICHT</p>
            </a>
            <a href="/events" class="col menu-items menu-items2{% if template == 'events' %} menu-active{% endif %}">
                <p>EINGEREICHTE<br>EREIGNISSE</p>
            </a>
        </div>
    </div>
    <div style="height: 50px"></div>
    <div class="container inner-container">