<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/general.css">
    <title>Der Kalender des Scheiterns</title>
</head>
<body>

<div class="container" style="background-color: white; height: 100%; width: 100%;">
    <img src="/static/mobile.svg" alt="Header" style="width: 100%; text-align: center" class="overflow">
    <div style="height: 25px"></div>
    <div class="navbar-top-mobile">
        <div class="col" style="width: 100%; text-align: center">
            <a style="font-size: 13pt; text-align: center" href="/info" class="menu-items-mobile row text-center{% if template == 'info_mobile' %} menu-active{% endif %}">
                INFO
            </a>
            <div style="height: 3px"></div>
            <a style="font-size: 13pt; text-align: center" href="/submit_historic" class="row menu-items-mobile text-center{% if template == 'submit_hist_mobile' %} menu-active{% endif %}">
                HISTORISCHES EREIGNIS EINREICHEN
            </a>
            <div style="height: 3px"></div>
            <a style="font-size: 13pt; text-align: center" href="/submit_personal" class="row menu-items-mobile text-center{% if template == 'submit_pers_mobile' %} menu-active{% endif %}">
                PERSÖNLICHES EREIGNIS EINREICHEN
            </a>
            <div style="height: 3px"></div>
            <a style="font-size: 13pt; text-align: center" href="/status" class="row menu-items-mobile text-center {% if template == 'status_mobile' %} menu-active{% endif %}">
                STATUS-ÜBERSICHT
            </a>
            <div style="height: 3px"></div>
            <a style="font-size: 13pt; text-align: center" href="/events" class="row menu-items-mobile text-center {% if template == 'events_mobile' %} menu-active{% endif %}">
                EINGEREICHTE EREIGNISSE
            </a>
        </div>
    </div>
    <div style="height: 35px"></div>
    <div class="container">