<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Kalender des Scheiterns - Imprint</title>
</head>
<body>

<div class="container">
    <h1>Impressum & Datenschutz</h1>
    Hier erfährst du, wer für den Inhalt dieser Webseite verantwortlich ist und welche Daten beim
    Aufruf der Webseite verarbeitet werden.
    <h1>Impressum</h1>
    Verantwortlich für den Inhalt dieser Webseite ist:<br>
    Nico Semsrott<br>
    Mitglied des Europäischen Parlaments<br>
    Rue Wiertz 60<br>
    1047 Brüssel<br>
    Belgien<br>
    Telefon: +32 2 28 45439<br>
    E-Mail: nico.semsrott@europarl.europa.eu
    <h1>Datenschutz</h1>
    Nicos Webseite kalenderdesscheiterns.de ist nach den Grundsätzen der Datensparsamkeit
    gestaltet. Das bedeutet, dass wir nach Möglichkeit darauf verzichten, personenbezogene
    Daten von dir zu verwenden. Jedoch behalten wir uns in diesem Fall vor, die Daten, die du
    uns beim Einreichen eines Ereignisses zusendest, vorerst zu speichern, damit wir dich
    gegebenenfalls auch via Mail (insofern du uns deine Adresse zur Verfügung gestellt hast)
    kontaktieren können.
    <h2>Was ist die Datenschutzgrundverordnung?</h2>
    Zum einen ist es ein sehr langes Wort. Zum anderen ist es ein Rechtsakt, der von der
    Europäischen Union umgesetzt wurde, damit der Datenschutz innerhalb der EUMitgliedstaaten auf einen einheitlichen Mindeststandard festgelegt wird. Durch die DSGVO
    wird also beispielsweise bestimmt, ob Betreiber einer Webseite deine Daten in bestimmten
    Fällen an Dritte weitergeben dürfen, oder nicht und diese Regel gilt dann in allen Ländern, die
    zum Staatenbund der Europäischen Union gehören. Im speziellen Fall dieser Webseite
    (kalenderdesscheiterns.de), geht es darum, aus den von den Usern eingereichten Vorschlägen
    einen Kalender zu erzeugen, den es im Nachhinein im Handel zu kaufen gibt. Wenn du deine
    Daten, sprich das Ereignis mit allen ausgefüllten Feldern absendest, stimmst du automatisch
    zu, dass der Name, den du im entsprechenden Feld eingegeben hast, gedruckt und somit
    veröffentlicht wird, wenn dein Ereignis ausgewählt wird. Deine Daten werden insofern an
    Dritte weitergegeben, als dass der Verlag Voland&Quist das von dir eingereichte Ereignis
    erhält und im Kalender abdruckt. Dein Name wird also veröffentlicht, deine Mailadresse
    jedoch nicht, diese geben wir auch nicht an den Verlag weiter.
    Hier noch eine unabhängige Erklärung dazu, was die Datenschutzgrundverordnung eigentlich
    ist:
    Um es mal auf ein genaues Beispiel herunterzubrechen: Du machst bei einem Gewinnspiel im
    Internet mit, bei dem der Hauptpreis ein Kissen ist. Dafür gibst du deine Mailadresse an, die
    deinen Vor- und Nachnamen beinhaltet. Über deine Mailadresse bist du als Person
    identifizierbar, die Daten deiner Mailadresse sind also personenbezogen. Du hast durch die
    DSGVO das Recht darauf, dass die Initiatoren des Gewinnspiels nach Beendigung des
    Gewinnspiels deine Daten, so auch deine E-Mailadresse wieder löschen und sie keine
    Informationen über dich in einer Art Archiv anlegen. Wenn sie das tun wollen würden,
    müssten sie dich zuerst darüber informieren und auch deine Einwilligung dazu einholen. Ein
    Archiv wäre für die Gewinnspielinitiatoren zwar praktisch, weil sie dann wissen, dass du dich
    für Gewinnspiele mit Kissen interessierst und sie zum Beispiel den Sponsoren des
    Hauptpreises sagen könnten: „Hey, XY interessiert sich für Kissen. Schick da doch mal
    Werbung hin, vielleicht wirst du da deine Ware los“, für dich hätte das aber die Folge, dass
    immer mehr Firmen und Menschen erfahren würden, dass du dich für Kissen interessierst und
    du von Werbung überflutet wirst. Völlig egal, wenn andere wissen, dass du Kissen magst?
    Dann ersetze Kissen doch mal mit Wörtern wie Messer, Abführmittel oder Sexspielzeug.
    An dieser Stelle schöne Grüße an Amazon :)
    <h2>Was sind personenbezogene Daten?</h2>
    Personenbezogene Daten sind Daten, die eine Person identifizieren. Aber auch Daten, mit
    deren Hilfe es möglich ist, eine Person zu identifizieren, sind personenbezogene Daten. Zum
    Beispiel sind dein Name und deine E-Mail-Adresse personenbezogene Daten.
    <h2>Was bedeutet Datensparsamkeit konkret auf dieser Seite?</h2>
    • Auf Nicos Webseite verwenden wir keine Analyse-Tools oder Werbenetzwerke, die
    den Schutz deiner persönlichen Daten missachten.<br>
    • Unsere Webserver speichern keine Logfiles. Logfiles sind Dateien, die jeden Aufruf
    einer Webseite genau protokollieren.<br>
    • Sofern wir Inhalte von anderen Diensten wie z. B. YouTube oder Twitter einbinden,
    tun wir das erst nach deiner vorherigen Zustimmung.
    <h2>Wer ist für die Verarbeitung personenbezogener Daten
        verantwortlich?</h2>
    Verantwortlich im Sinne des Art. 4 Nr. 7 DSGVO für die Verarbeitung von deinen
    personenbezogenen Daten ist:
    Nico Semsrott<br>
    Mitglied des Europäischen Parlaments<br>
    Rue Wiertz 60<br>
    1047 Brüssel<br>
    Belgien<br>
    Telefon: +32 2 28 45439<br>
    E-Mail: nico.semsrott@europarl.europa.eu
    <h2>Wofür gilt diese Datenschutzerklärung?</h2>
    Die Datenschutzerklärung gilt für die Webseite www.kalenderdesscheiterns.de und
    kalenderdesscheiterns.de. Im Folgenden nennen wir diese Webseiten auch „KalenderWebseite” oder „die Webseite“.
    <h2>Welche Daten wir aus welchem Grund verwenden</h2>
    <h3>Zugriffsdaten</h3>
    <b>Was?</b> Wenn du die Webseite aufrufst, überträgt dein Endgerät automatisch bestimmte
    Daten. Diese Daten werden Zugriffsdaten genannt. Dein Endgerät ist das Gerät, mit dem du
    die Webseite aufrufst, z. B. dein Smartphone oder dein Computer.
    Die folgenden Zugriffsdaten werden an uns übertragen:<br>
    • Das Datum und die Uhrzeit, zu dem du die Webseite aufgerufen hast.<br>
    • Das Betriebssystem, der Browser und das Endgerät, die du verwendest.<br>
    • Der Name und die URL der aufgerufenen Seite oder Datei.<br>
    • Gegebenenfalls die Seite, die du zuvor besucht hast.<br>
    • Deine IP-Adresse.<br>
    • Der Name deines Internetanbieters.<br>
    <b>Warum?</b> Diese Daten sind technisch notwendig, um dir die Nutzung der Webseite zu
    ermöglichen und den Verbindungsaufbau zwischen deinem Endgerät den von uns
    verwendeten Webservern zu gewährleisten.
    <b>Wie?</b> Die Zugriffsdaten werden für die Dauer der Verbindung zu der Kalender Webseite
    temporär gespeichert. Nach Ende der Verbindung werden die Daten permanent gelöscht.
    <b>Rechtsgrundlage:</b> Die Rechtsgrundlage für die Verwendung der Zugriffsdaten ist unser
    berechtigtes Interesse nach Art. 6 Abs. 1 S. 1 f) DSGVO, die Kalender-Webseite öffentlich
    zugänglich zu machen.
    <h3>Cookies</h3>
    <b>Was?</b> Wenn du die Kalender-Webseite aufrufst, wird unter Umständen ein sogenannter
    Sitzungs-Cookie gespeichert. Cookies sind kleine Textdateien mit Informationen, die in
    deinem Browser gespeichert werden. Sitzungs-Cookies sind in der Regel nur für einen kurzen
    Zeitraum gültig und werden danach von deinem Browser automatisch gelöscht.
    Kommentiert [PI4]: @Moritz und Marius: Stimmt das?
    <b>Warum</b> Mithilfe des Sitzungs-Cookies können wir mehrere aufeinanderfolgende
    Seitenaufrufe von dir einander zuordnen. Das ist auf der Webseite z. B. notwendig, um dir
    eine Mitteilung anzuzeigen, nachdem du das Ereignisformular ausgefüllt hast. Außerdem
    verwenden wir den Sitzungs-Cookie, um Sicherheitsmaßnahmen umzusetzen. Diese
    Maßnahmen dienen z.B. dazu, das automatisierte Versenden von Nachrichten über das
    Ereignisformular zu unterbinden.
    <b>Wie?</b> Wir verwenden einen Sitzungs-Cookie, der zwei Stunden gültig ist. Der Name des
    Sitzungs-Cookies lautet kirby_session.
    <b>Rechtsgrundlage:</b> Die Rechtsgrundlage für die Nutzung des Session-Cookies ist unser
    berechtigtes Interesse nach Art. 6 Abs. 1 S. 1 f) DSGVO, die Kalender-Webseite sicher zu
    gestalten und Missbrauch zu verhindern.
    <b>Cookies dekativieren:</b> Du kannst deinen Browser so einstellen, dass er keine Cookies
    speichert. Wie das geht, kannst du in der Regel auf der Webseite deines Browsers nachlesen,
    z. B. für Mozilla Firefox, Microsoft Edge oder Google Chrome. Du kannst Nicos Webseite dann
    immer noch nutzen. Allerdings stehen dir dann eventuell einige Funktionen wie z. B. das
    Kontaktformular nicht zur Verfügung.
    <h2>Auftragsverarbeiter</h2>
    Wir nutzen zur Bereitstellung der Webseite den Webhosting-Dienstleister Uberspace:
    Uberspace – Jonas Pasche Kaiserstr. 15 55116 Mainz
    Wir haben mit dem Dienstleister einen sogenannten „Vertrags zur Auftragsverarbeitung”
    nach Art. 28 DSGVO abgeschlossen. Damit stellen wir sicher, dass der Dienstleister deine
    personenbezogenen Daten ausschließlich zur Bereitstellung der Webseite und ihrer
    Funktionen verwendet werden.
    <h2>Welche Rechte du hast</h2>
    Du hast eine Reihe von Rechten, wenn personenbezogene Daten von dir verwendet werden:
    • Du hast das Recht, vom Verantwortlichen Auskunft über die verwendeten
    personenbezogenen Daten zu erhalten.<br>
    • Du hast das Recht, deine personenbezogenen Daten berichtigen oder löschen zu
    lassen.<br>
    • Du hast ein Recht auf Datenübertragbarkeit.<br>
    • Du hast das Recht, die Verwendung deiner personenbezogenen Daten einschränken
    zu lassen oder ihr zu widersprechen.<br>
    • Sofern du uns eine Einwilligung zur Verwendung deiner personenbezogenen Daten
    gegeben hast, hast du das Recht, diese jederzeit zu wiederrufen.<br>
    • Falls du denkst, dass wir die geltenden datenschutzrechtlichen Vorschriften verletzen,
    kannst du bei den zuständigen Aufsichtsbehörden Beschwerde einlegen. In
    Deutschland sind das die Landesdatenschutzbeauftragten.<br>
</div>
</body>
</html>