{% include 'header.twig' %}

<b>Nach dem <a class="textlink" href="http://der-kalender-des-scheiterns.de/">Kalender des Scheiterns</a> gibt es jetzt
    den KALENDER DES SCHEITERNS 2.</b>
<div style="height: 10px"></div>
<!-- t (7Tage Laufzeit)] um eure persönlichen oder historisch belegten Ereignisse für den KALENDER DES SCHEITERNS 2 einzureichen. Unter <a class="textlink" href="/events">Eingereichte Ereignisse</a> könnt ihr den aktuellen Stand einsehen. Mein Team sucht nach der Frist die besten Vorschläge aus. Mein Verlag Voland & Quist wird ihn rausbringen. Mein Gewinn-Anteil geht an <a class="textlink" href="https://sea-watch.org/"><b>Sea-Watch</b></a>.-->
<div style="font-family: 'Roboto', sans-serif; font-weight: normal; text-align: justify">
    Wir machen den gemeinsam. Wir haben die Frist verlängert. Ihr habt jetzt bis <b>15.04.2020 um 19 Uhr</b> Zeit,
    eure Ideen einzusenden. Ihr könnt entweder selbst erlebte oder historisch belegte Ereignisse einreichen! Sie werden
    von meinem Team regelmäßig geprüft, freigeschaltet oder aussortiert:
    <br>
    Am Ende sollen <a class="textlink" href="/events"><b>hier</b></a> nur noch Ereignisse stehen, die lustig/interessant
    sind und noch nicht im ersten Kalender vorkamen.
    <br>
    Am meisten helft ihr uns, in dem ihr unter <a class="textlink" href="/status"><b>Statusübersicht</b></a> nachguckt,
    für welche Tage wir noch Ereignisse suchen und die Lücken dementsprechend füllt. Sobald wir mit der Sammlung fertig
    sind, wird mein Verlag Voland & Quist sie als Kalender des Scheiterns 2 rausbringen. Mein Gewinn-Anteil geht an
    <a rel="noopener noreferrer" class="textlink" href="https://sea-watch.org/"><b>Sea-Watch</b></a>.
</div>
<div style="height: 60px"></div>
<div style="align-content: center; text-align: center;">
    <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/yIDVVUCRuqA' frameborder='0' allowfullscreen></iframe>
    </div>
</div>

{% include 'footer.twig' %}
