{% include 'header.twig' %}

<b>Nach dem <a class="textlink" href="http://der-kalender-des-scheiterns.de/">Kalender des Scheiterns</a> gibt es jetzt
    den KALENDER DES SCHEITERNS 2.</b>
<div style="height: 10px"></div>
Wir sind im ersten Anlauf: gescheitert.
Ihr kriegt nochmal bis [Tag, Uhrzeit (7Tage Laufzeit)] um eure persönlichen oder historisch belegten Ereignisse für den KALENDER DES SCHEITERNS 2 einzureichen. Unter "Eingereichte Ereignisse" könnt ihr den aktuellen Stand einsehen. Mein Team sucht nach der Frist die besten Vorschläge aus. Mein Verlag Voland & Quist wird ihn rausbringen. Mein Gewinn-Anteil geht an <a class="textlink" href="https://sea-watch.org/"><b>Sea-Watch</b></a>.
<div style="height: 40px"></div>
<div style="text-align: center;">
    <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/2_3TlzlHk4s' frameborder='0' allowfullscreen></iframe>
    </div>
</div>

{% include 'footer.twig' %}
