{% include 'header.twig' %}

<b>Nach dem <a class="textlink" href="http://der-kalender-des-scheiterns.de/">Kalender des Scheiterns</a> gibt es jetzt
    den KALENDER DES SCHEITERNS 2.</b>
<div style="height: 10px"></div>
<!-- t (7Tage Laufzeit)] um eure persönlichen oder historisch belegten Ereignisse für den KALENDER DES SCHEITERNS 2 einzureichen. Unter <a class="textlink" href="/events">Eingereichte Ereignisse</a> könnt ihr den aktuellen Stand einsehen. Mein Team sucht nach der Frist die besten Vorschläge aus. Mein Verlag Voland & Quist wird ihn rausbringen. Mein Gewinn-Anteil geht an <a class="textlink" href="https://sea-watch.org/"><b>Sea-Watch</b></a>.-->
<div style="font-family: 'Roboto', sans-serif; font-weight: normal; text-align: justify">
    Wir machen den gemeinsam. Ihr habt zunächst bis [Tag, Uhrzeit (7Tage Laufzeit)], eure Ideen einzusenden. Ihr könnt entweder selbst erlebte oder historisch belegte Ereignisse einreichen! Unter <a class="textlink" href="/events"><b>Eingereichte Ereignisse</b></a> könnt ihr den aktuellen Stand einsehen. Mein Team sucht nach der Frist die besten Vorschläge aus. Mein Verlag Voland & Quist wird ihn rausbringen. Mein Gewinn-Anteil geht an <a target="_blank" rel="noopener noreferrer" class="textlink" href="https://sea-watch.org/"><b>Sea-Watch</b></a>.
</div>
<div style="height: 60px"></div>
<div style="align-content: center; text-align: center;">
    <video class="center" src="/static/vid.mp4" controls style="width: 90%;" poster="/static/thumbnail.png">
        Ihr Browser kann dieses Video nicht wiedergeben. :(<br/>
        Siehs dir <a href="https://www.youtube.com/watch?v=3tZBGShbnxs&feature=youtu.be">hier</a> an.
    </video>
</div>

{% include 'footer.twig' %}
