{% include 'header_mobile.twig' %}

<div style="font-size:  13pt; font-weight: bold">Nach dem <a class="textlink"
                                                             href="http://der-kalender-des-scheiterns.de/">Kalender des
        Scheiterns</a> gibt es jetzt den KALENDER DES SCHEITERNS 2.
</div>
<div style="height: 10px"></div>
<!-- t (7Tage Laufzeit)] um eure persönlichen oder historisch belegten Ereignisse für den KALENDER DES SCHEITERNS 2 einzureichen. Unter <a class="textlink" href="/events">Eingereichte Ereignisse</a> könnt ihr den aktuellen Stand einsehen. Mein Team sucht nach der Frist die besten Vorschläge aus. Mein Verlag Voland & Quist wird ihn rausbringen. Mein Gewinn-Anteil geht an <a class="textlink" href="https://sea-watch.org/"><b>Sea-Watch</b></a>.-->
<div style="font-family: 'Roboto', sans-serif; font-weight: lighter; width: 100%; font-size:  13pt">
    Wir haben den gemeinsam gemacht. Bis 22.05.2020 hattet ihr die Gelegenheit, eure Ideen einzusenden. Es kamen weit
    über 1000 Vorschläge für 365 Tage. Vielen Dank für die große Hilfe! Ihr könnt weiterhin Ereignisse einreichen, aber
    sie werden nicht mehr im Kalender des Scheiterns 2 berücksichtigt. Vielleicht mal in einer dritten Ausgabe? Der
    Kalender des Scheiterns 2 kommt im Herbst 2020 heraus. Mein Gewinn-Anteil geht an <a rel="noopener noreferrer"
                                                                                         class="textlink"
                                                                                         href="https://sea-watch.org/"><b>Sea-Watch</b></a>.
</div>
<div style="height: 60px"></div>
<div style="align-content: center; text-align: center;">
    <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/yIDVVUCRuqA' frameborder='0' allowfullscreen></iframe>
    </div>
</div>

{% include 'footer_mobile.twig' %}
