{% include 'header_mobile.twig' %}

<b>Nach dem <a class="textlink" href="http://der-kalender-des-scheiterns.de/">Kalender des Scheiterns</a> gibt es jetzt
    den KALENDER DES SCHEITERNS 2.</b>
<div style="height: 10px"></div>
<!-- t (7Tage Laufzeit)] um eure persönlichen oder historisch belegten Ereignisse für den KALENDER DES SCHEITERNS 2 einzureichen. Unter <a class="textlink" href="/events">Eingereichte Ereignisse</a> könnt ihr den aktuellen Stand einsehen. Mein Team sucht nach der Frist die besten Vorschläge aus. Mein Verlag Voland & Quist wird ihn rausbringen. Mein Gewinn-Anteil geht an <a class="textlink" href="https://sea-watch.org/"><b>Sea-Watch</b></a>.-->
<div style="font-family: 'Roboto', sans-serif; font-weight: lighter; width: 99%">
    Wir machen den gemeinsam. Ihr habt zunächst bis [Tag, Uhrzeit (7Tage Laufzeit)], eure Ideen einzusenden. Ihr könnt entweder selbst erlebte oder historisch belegte Ereignisse einreichen! Unter <a class="textlink" href="/events"><b>Eingereichte Ereignisse</b></a> könnt ihr den aktuellen Stand einsehen. Mein Team sucht nach der Frist die besten Vorschläge aus. Mein Verlag Voland & Quist wird ihn rausbringen. Mein Gewinn-Anteil geht an <a target="_blank" rel="noopener noreferrer" class="textlink" href="https://sea-watch.org/"><b>Sea-Watch</b></a>.
</div>
<div style="height: 60px"></div>
<div style="text-align: center;">
    <div class="embed-container" style="width: 95%">
        <iframe src='https://www.youtube.com/embed/2_3TlzlHk4s' frameborder='0' allowfullscreen></iframe>
    </div>
</div>

{% include 'footer_mobile.twig' %}
