{% include 'header.twig' %}

<div class="container">
    <div class="row">
        <div class="col">
            <form id="form" action="/submit" method="post" enctype="multipart/form-data">
                <label class="form-label">
                    <div class="form-label-div"></div>
                    WAS?
                    <div class="form-label-extra">*Pflichtfeld</div>
                    <br>
                    <textarea class="form-input form-textarea" name="description" maxlength="250" minlength="5"
                              placeholder="Hier kannst du das Ereignis beschreiben. (mind. 5, max. 250 Zeichen)"
                              required
                              autofocus
                              oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
                </label>

                <label class="form-label">
                    <div class="form-label-div"></div>
                    WANN?
                    <div class="form-label-extra">*Pflichtfeld</div>
                    <br>
                    <input id="datepicker-xx" type="date" class="form-input form-date is-below"
                           name="date"
                           min="0000-01-01" max="2020-12-31"
                           required>
                </label>

                <label class="form-label">
                    <div class="form-label-div"></div>
                    WER?
                    <div class="form-label-extra">Dieser Name wird im Kalender gedruckt</div>
                    <br>
                    <input class="form-input" name="name" maxlength="32" placeholder="Dein Name / Pseudonym">
                </label>

                <label class="form-label ">
                    <div class="form-label-div"></div>
                    WIE?
                    <div class="form-label-extra">kann man dich bei Nachfragen erreichen?</div>
                    <br>
                    <input class="form-input" type="email" name="email" maxlength="256"
                           placeholder="scheitern@nicosemsrott.eu">
                </label>
                <label><input hidden value="personal" name="type"/></label>
                <label><input id="g-recaptcha-response" hidden name="g-recaptcha-response"/></label>
                <label style="width: 100%">
                    <input type="submit" class="submit-button" value="ABSCHICKEN"/>
                    <br>
                    <div class="form-label-extra">*Redaktionelle Änderungen behalten wir uns vor.</div>
                </label>
            </form>
        </div>
        <div class="col">
            <div class="examplepic">
                <img id="imageb" src="/static/pers_example.png" class="card-img-top" alt="beispielbild">
                <p class="form-label-extra exampletext">BEISPIEL</p>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/static/date-picker.css">
<script src="/static/date-picker.min.js"></script>
<script>
    let dp = document.getElementById("datepicker-xx");
    if (dp.type !== "date") {
        Number.prototype.pad = function(size) {
            var s = String(this);
            while (s.length < (size || 2)) {s = "0" + s;}
            return s;
        };

        let dpBelow = TinyDatePicker('.is-below', {
            mode: 'dp-below',
            min: '01/01/1000',
            max: '05/01/2020',
            format(date) {
                return date.getFullYear() + "-" + (date.getMonth() + 1).pad(2) + "-" + date.getDate().pad(2);
            },
        });
    }
</script>

{% include 'footer.twig' %}
