{% include 'header.twig' %}

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit() {
        document.getElementById("form").submit();
    }
</script>

<div class="container">
    <div class="row">
        <div class="col">
            <form id="form" action="/submit" method="post" enctype="multipart/form-data">
                <label class="form-label">
                    <div class="form-label-div"></div>
                    WAS?
                    <div class="form-label-extra">*Pflichtfeld</div>
                    <br>
                    <textarea class="form-input form-textarea" name="description" maxlength="250" minlength="5"
                              id="what"
                              placeholder="Hier kannst du das Ereignis beschreiben. (min. 5, max. 250 Zeichen)"
                              required
                              autofocus
                              oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
                </label>

                <label class="form-label">
                    <div class="form-label-div"></div>
                    WANN?
                    <div class="form-label-extra">*Pflichtfeld</div>
                    <br>
                    <input type="date" class="form-input form-date" data-date-format="dd.mm.yyyy" name="date"
                           min="0000-01-01" max="2020-12-31" id="when"
                           required>
                </label>

                <label class="form-label">
                    <div class="form-label-div"></div>
                    QUELLE?
                    <div class="form-label-extra">Nur seriöse Internetseiten.</div>
                    <br>
                    <input class="form-input" type="url" name="source" maxlength="1000"
                           placeholder="kalenderdesscheiterns.de">
                </label>

                {# <label class="form-label">
                     <div class="form-label-div"></div>
                     WER?
                     <div class="form-label-extra">Dieser Name wird im Kalender gedruckt</div>
                     <br>
                     <input class="form-input" name="name" maxlength="256" placeholder="Dein Name / Pseudonym">
                 </label>#}

                <label class="form-label ">
                    <div class="form-label-div"></div>
                    WIE?
                    <div class="form-label-extra">kann man dich bei Nachfragen erreichen?</div>
                    <br>
                    <input class="form-input" type="email" name="email" maxlength="32"
                           placeholder="scheitern@nicosemsrott.eu">
                </label>
                <label><input hidden value="historic" name="type"/></label>
                <div>
                    <button data-sitekey="6Le1yuEUAAAAAP-gpOEBLyGCBLRUsUJWjmC2x6TP"
                            type="submit" class="g-recaptcha submit-button"><b>ABSCHICKEN</b>
                    </button>
                    <br>
                    <div class="form-label-extra">*Redaktionelle Änderungen behalten wir uns vor.</div>
                </div>
            </form>
        </div>
        <div class="col">
            <div class="examplepic">
                <img id="imageb" src="/static/hist_example.png" class="card-img-top" alt="beispielbild">
                <p class="form-label-extra exampletext">BEISPIEL</p>
            </div>
        </div>
    </div>
</div>

{% include 'footer.twig' %}
