{% include 'header_mobile.twig' %}

<div style="height: 20px"></div>
<div class="examplepic">
    <img id="imageb" src="/static/hist_example.png" class="card-img-top" alt="beispielbild">
    <p class="form-label-extra-mobile exampletext">BEISPIEL</p>
</div>
<div class="row">
    <div class="col">
        <form style="font-size: 13pt" id="form" action="/submit" method="post" enctype="multipart/form-data">
            <label class="form-label">
                <div class="form-label-div-mobile"></div>
                WAS?
                <div class="form-label-extra-mobile">*Pflichtfeld</div>
                <br>
                <textarea class="form-input form-textarea" name="description" maxlength="250" minlength="5"
                          placeholder="Hier kannst du das Ereignis beschreiben. (min 5, max. 250 Zeichen)" required id="what"
                          autofocus
                          oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
            </label>

            <label class="form-label">
                <div class="form-label-div-mobile"></div>
                WANN?
                <div class="form-label-extra-mobile">*Pflichtfeld</div>
                <br>
                <input type="date" class="form-input form-date-mobile" data-date-format="tt/mm/yyyy" name="date"
                       min="0000-01-01" max="2020-12-31"
                       required id="when">
            </label>

            <label class="form-label">
                <div class="form-label-div-mobile"></div>
                QUELLE?
                <div class="form-label-extra-mobile">Nur seriöse Internetseiten.</div>
                <br>
                <input class="form-input" type="url" name="source" maxlength="1000"
                       placeholder="kalenderdesscheiterns.de">
            </label>

        {#    <label class="form-label">
                <div class="form-label-div-mobile"></div>
                WER?
                <div class="form-label-extra-mobile">Dieser Name wird im Kalender gedruckt</div>
                <br>
                <input class="form-input" name="name" maxlength="32" placeholder="Dein Name / Pseudonym">
            </label>#}

            <label class="form-label ">
                <div class="form-label-div-mobile"></div>
                WIE?
                <div class="form-label-extra-mobile">kann man dich erreichen?</div>
                <br>
                <input class="form-input" type="email" name="email" maxlength="256"
                       placeholder="scheitern@nicosemsrott.eu">
            </label>
            <label><input hidden value="historic" name="type"/></label>
            <label><input id="g-recaptcha-response" hidden name="g-recaptcha-response"/></label>
            <label>
                <input type="submit" class="submit-button" value="ABSCHICKEN"/>
                <br>
                <div class="form-label-extra">*Redaktionelle Änderungen behalten wir uns vor.</div>
            </label>
        </form>
    </div>
</div>

{% include 'footer_mobile.twig' %}
