<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Kalender des Scheiterns - Danke!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/success.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<div class="content">
    <div class="form">
        <h1>
            Vielen Dank für deinen Betrag zum Kalender des Scheiterns!
        </h1>
        <form action="/submit" method="get">
            <button type="submit" class="button">
                Ich will nochmal!
            </button>
        </form>
    </div>
</div>
</body>
</html>