<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Kalender des Scheiterns - Liste</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="content">
    <table>
        <tr>
            <td>Datum</td>
            <td>Scheiterung</td>
            <td>Quelle</td>
        </tr>
        {% for i in list %}
            <tr>
            <td>{{ i.date }}</td>
            <td>{{ i.idea }}</td>
            <td><a href="{{ i.source }}">{{ i.source }}</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>