<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Kalender des Scheiterns - Submit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
<div class="content">
    <div class="form">
        <form action="/submit" method="post" enctype="multipart/form-data">
            <img src="/static/nico.svg" alt="Nico Semsrott’s logo">
            <label>
                Ich will folgendes Ereignis für den Kalender des Scheiterns einreichen:
                <textarea class="text" name="text" maxlength="420" minlength="5"
                          placeholder="Beschreibe das Ereignis" required
                          autofocus
                          oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
            </label>
            <label>
                Das Geschehen ereignete sich am:
                <input type="date" class="date" name="date" min="0000-01-01" max="2020-12-31" required>
            </label>
            <label>
                Ich belege mein Ereignis mit folgendem Link:
                <input type="url" class="source" name="source" placeholder="https://www.der-postillon.com/" maxlength="1000" required>
            </label>
            <div class="g-recaptcha" data-sitekey="6Le1yuEUAAAAAP-gpOEBLyGCBLRUsUJWjmC2x6TP">
                <button type="submit" class="button">Submit</button>
            </div>
            <h3>
                Der <a target="_blank" rel="noopener noreferrer" href="http://der-kalender-des-scheiterns.de/">Kalender des Scheiterns</a> ist ein ganz besonderer Kalender der.. bin ich Redenschreiber oder Programmierer?
            </h3>
            <h3>
                &copy; Marius Weidner & Moritz Geist 2020
            </h3>
        </form>
    </div>
</div>
</body>
</html>